<div id="battle-container">
    <div id="character-container">
        <a (click)="postVotes(leftID)"><img id="left-image" [src]="leftURL"></a>
        <a (click)="postVotes(rightID)"><img id="right-image" [src]="rightURL"></a>
    </div>

    @if (hasVoted) {
        <div id="votes">
            <div id="number-left">{{leftVotes}}</div>
            <div id="votes-left"></div>
            <div id="votes-right"></div>
            <div id="number-right">{{rightVotes}}</div>
        </div>
    }

    <button id="return" (click)="changeView(true)">Return</button>
</div>


