<div id="battle-container">
    <div id="character-container">
        <a (click)="postVotes()"><img id="left-image" [src]="leftURL"></a>
        <a (click)="postVotes()"><img id="right-image" [src]="rightURL"></a>
    </div>

    @if (hasVoted) {
        <div id="votes">
            <div id="number-left">50%</div>
            <div id="votes-left"></div>
            <div id="votes-right"></div>
            <div id="number-right">50%</div>
        </div>
    }

    <button id="return" (click)="changeView(true)">Return</button>
</div>


